{% load staticfiles %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Base.html</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/balance.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-offset-1">
                {% block contenido %}
                {% endblock contenido %}
            </div>

        </div>

    </div>

<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>